{% extends "blank.html" %}
{% load gci_tags %}

{% block content %}
    <div class="row">
        <div class="medium-6 large-4 columns medium-centered large-centered">
            <div class="panel login">
                <form method="post">
                    {# <h1 class="logo">cic</h1> #}
                    {% csrf_token %}
                    {% non_field_errors form %}
                    {% form_field form.username %}
                    {% form_field form.password %}
                    <button type="submit" class="expand radius button"><i class="fa fa-fw fa-sign-in"></i> Inicia sessió</button>
                    <br />
                    <br />
                    <p class="small"><a href="{% url 'password_reset' %}">Restableix contrasenya</a></p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
