{% extends "layout.html" %}
{% load gci_tags %}

{% block content %}
    <div class="row">
        <div class="medium-12 columns content">
            <h1>La contrasenya ha estat restablerta correctament. <i class="fa fa-thumbs-up"></i></h1>
        </div>
    </div>
{% endblock %}
