{% extends "simple.html" %}
{% load gci_tags %}

{% block content %}
    <h1>{{ view.title }}</h1>
    <table>
        <thead>
            <tr>
                <th>Data</th>
                <th>Ubicacio</th>
                <th>Duració</th>
                <th>Responsable</th>
                <th class="text-right">Accions</th>
            </tr>
        </thead>
        <tbody>
            {% for sessio in sessions %}
                <tr>
                    <td>{{ sessio.data|format_data_i_hora }}</td>
                    <td>{{ sessio.ubicacio }}</td>
                    <td>{{ sessio.duracio }}&#39;</td>
                    <td>{{ sessio.responsable_alta }}</td>
                    <td class="text-right">
                        {% if sessio.is_in_future %}
                            <a href="{% url view.edit_url sessio.pk %}"><i class="fa fa-pencil"></i> Editar</a>
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5" class="text-center">No hi ha cap sessió</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
