.gallery {
    .frame {
        position: relative;
    }

    .action {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 0 5px;
        position: absolute;
        top: 5px;
        left: 15px;
        z-index: 999;
        border-radius: $global-radius;
    }

    .action.delete {
        color: #f00;

        &:hover {
            color: #f66;
        }

        &:before {
            font-family: FontAwesome;
            content: "\f00d";
        }
    }

    .action.undo {
        color: #fff;

        &:hover {
            color: #666;
        }

        &:before {
            font-family: FontAwesome;
            content: "\f0e2";
        }
    }

    .wrapper {
        img {
            border: 5px solid $snow;
            border-radius: $global-radius;
        }

        h6 {
            line-height: 1.1em;
        }
    }
}