.steps {
    $step-width: 32px;
    $done-color: #dbea92;
    $done-current-color: #8cc00e;
    $to-review-color: #ffc000;
    $to-review-current-color: #ff9600;

    margin: $base-padding 0;

    :first-child {
        a {
            padding-left: $quarter-padding;
            border-top-left-radius: $global-radius;
            border-bottom-left-radius: $global-radius;
        }
    }

    :last-child {
        a {
            padding-left: $base-padding + $quarter-padding;
            border-top-right-radius: $global-radius;
            border-bottom-right-radius: $global-radius;
        }
    }

    li {
        display: inline-block;
        list-style: none;
        text-align: center;

        &:first-child a {
            border-top-left-radius: $global-radius;
            border-bottom-left-radius: $global-radius;
        }
        &:first-child a:before {
            display: none;
        }

        &:last-child a {
            padding-right: $step-width;
            border-top-right-radius: $global-radius;
            border-bottom-right-radius: $global-radius;
        }
        &:last-child a:after {
            display: none;
        }

        a {
            width: $step-width * 1.2;
            height: $step-width;
            line-height: $step-width;
            display: inline-block;
            background-color: $smoke;
            position: relative;
            margin-left: 2px;
            padding-left: 20px;
            font-size: 0.75em;
            margin-bottom: $quarter-padding;

            // Remove margin bottom for "a" on large screens
            @media #{$large-up} {
                & {
                    margin-bottom: 0;
                }
            }

            &.divider {
                margin-left: 6px;
            }

            &:after {
                content: "";
                border-top: ($step-width / 2) solid transparent;
                border-bottom: ($step-width / 2) solid transparent;
                border-left: ($step-width / 2) solid $smoke;
                position: absolute;
                right: -($step-width / 2) + 1px;
                top: 0;
                z-index: 10;
            }

            &:before {
                content: "";
                border-top: ($step-width / 2) solid transparent;
                border-bottom: ($step-width / 2) solid transparent;
                border-left: ($step-width / 2) solid #fff;
                position: absolute; left: 0; top: 0;
                z-index: 5;
            }

            &:hover {
                background-color: $snow;
            }

            &.done {
                background-color: $done-color;

                &:after {
                    border-left-color: $done-color;
                }
            }

            &.to-review {
                color: #755f1e;
                background-color: $to-review-color;

                &:after {
                    border-left-color: $to-review-color;
                }
            }

            &.done.current {
                color: #fff;
                background-color: $done-current-color;

                &:after {
                    border-left-color: $done-current-color;
                }
            }

            &.to-review.current {
                color: #fff;
                background-color: $to-review-current-color;

                &:after {
                    border-left-color: $to-review-current-color;
                }
            }

            &.disabled {
                &, &:hover {
                    color: $base;
                }

                background-color: $smoke;
                cursor: default;
            }
        }
    }

    li.divider {
        margin-bottom: - $half-padding - $quarter-padding + 1; // HACK
        display: inline-block;
        width: 2px;
        height: $step-width;
        background-color: $steel;
    }
}
