{% extends "alta_socies/autoocupat/template.html" %}

{% block explicacio_pas %}
    <div class="panel">
        <ul>
            <li>Es pot demanar que les adreces i les activitats estiguin cobertes per una assegurança.</li>
            <li>És a criteri del responsable d'alta permetre que algun element quedi sense assegurar.</li>
        </ul>
    </div>
{% endblock %}

{% block pas %}
    <fieldset>
        <legend>Petició d'assegurances</legend>

        <table>
            <thead>
                <th>Adreça</th>
                <th>Activitat</th>
                <th colspan="2">Petició d'assegurança i comentaris</th>
            </thead>
            <tbody>
                {% for adreca in adreces %}
                    <tr>
                        <td colspan="2">{{ adreca.designacio }}</td>
                        <td>
                            <input name='peticio_{{ adreca.id }}_-1'
                                   id='peticio_{{ adreca.id}}_-1'
                                   type="checkbox"
                                   {% if adreca.peticio %}checked{% endif %}/>
                        </td>
                        <td>
                            <input name='comentaris_{{ adreca.id}}_-1'
                                   type="text"
                                   value="{{ adreca.comentaris }}"
                                   data-checkbox-id="peticio_{{ adreca.id}}_-1"/>
                        </td>
                    </tr>

                    {% for activitat in adreca.activitats %}
                        <tr>
                            <td>&nbsp;</td>
                            <td>{{ activitat.nom }}</td>
                            <td>
                                <input name='peticio_{{ adreca.id}}_{{ activitat.id }}'
                                       id='peticio_{{ adreca.id}}_{{ activitat.id }}'
                                       type="checkbox"
                                       {% if activitat.peticio %}checked{% endif %}/>
                            </td>
                            <td>
                                <input name='comentaris_{{ adreca.id}}_{{ activitat.id }}'
                                       type="text"
                                       value="{{ activitat.comentaris }}"
                                       data-checkbox-id="peticio_{{ adreca.id}}_{{ activitat.id }}"/>
                            </td>
                        </tr>
                    {% endfor %}
                {% endfor %}

                {% if altres_activitats %}
                    <tr>
                        <td colspan="4">
                            <strong><em>(activitats no vinculades a cap adreça)</em></strong>
                        </td>
                    </tr>
                    {% for activitat in altres_activitats %}
                        <tr>
                            <td>&nbsp;</td>
                            <td>{{ activitat.nom }}</td>
                            <td>
                                <input name='peticio_-1_{{ activitat.id }}'
                                       id='peticio_-1_{{ activitat.id }}'
                                       type="checkbox"
                                       {% if activitat.peticio %}checked{% endif %}/>
                            </td>
                            <td>
                                <input name='comentaris_-1_{{ activitat.id }}'
                                       type="text"
                                       value="{{ activitat.comentaris }}"
                                       data-checkbox-id="peticio_-1_{{ activitat.id }}"/>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </fieldset>

    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_AQUI }}">Desar</button>
    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_ANTERIOR }}">Desar i anar al pas anterior</button>
    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_SEGUENT }}">Desar i anar al següent pas</button>
{% endblock %}

{% block javascript %}
    {# TODO: Decouple JS from HTML #}
    <script>
        $('form input[type=text]').keyup(function () {
            if ($(this).val().trim()) {
                $('#'+ $(this).data('checkbox-id')).prop('checked', true);
            }
        });
    </script>
{% endblock %}
