{% extends "alta_socies/autoocupat/template.html" %}
{% load gci_tags %}

{% block explicacio_pas %}
    <div class="panel">
        <ul>
            <li>Podeu descarregar la llista de tasques en format PDF per enviar-li juntament amb la resta de documentació.</li>
            <li>Quan hagueu imprès el document, podeu tancar la sessió d'avaluació; Tot quedarà llest per continuar a la sesió d'alta.</li>
            {% comment %}
                <li>S'enviarà la llista de tasques en format PDF per correu electrònic als destinataris que trieu.</li>
                <li>Podeu descarregar el mateix document per mostrar-lo als membres de referència o per imprimir-lo si voleu.</li>
                <li>Els membres de referència hauran d'aplegar la documentació que s'indica, assistir a la sessió de moneda social, i pagar les quotes d'alta i primer trimestre abans de poder continuar el procés d'alta del seu projecte.</li>
                <li>Encara que el descarregueu, els hi mostreu, o inclús els hi imprimiu, no oblideu que l'heu d'enviar :)</li>
            {% endcomment %}
        </ul>
    </div>
{% endblock %}

{% block pas %}
    {% comment %}
        <div class="seccio">
            <b>Destinataris que han de rebre la llista de tasques</b><hr/>

            <ul>
            <li>El projecte
                <ul><li>
                    <input type="checkbox" checked onchange="event.target.checked=true;">&nbsp;&nbsp;{{ proces.nom }} &lt;{{ proces.email }}&gt;<br/><br/>
                </li></ul>
            </li>
            <li>{% if membres.count > 1 %}Els membres{% else %}El membre{% endif %} de referència
                <ul>
                {% for m in membres %}
                    <li>
                        <input type="checkbox" id="destinatari_{{ m.id }}" name="destinataris">&nbsp;&nbsp;{{ m.nom_sencer }} &lt;{{ m.email }}&gt;
                    </li>
                {% endfor %}
              </ul>
            </li>
            </ul>

        </div>

        <br/>

        <div class="seccio">
            <b>Destinataris addicionals</b><hr/>
            <input type="email" name="destinatari_addicional"><br/>
            <input type="email" name="destinatari_addicional"><br/>
            <input type="email" name="destinatari_addicional"><br/>
        </div>
    {% endcomment %}

    {% comment %}
        <input type="submit" value="Enviar document">
        <input type="submit" value="Veure document">
        <input type="submit" value="Descarregar document">
    {% endcomment %}

    <div style="text-align: center">
        <a class="secondary large radius button" href="{% url 'alta_socies:proces_alta_projecte_autoocupat-llista_de_tasques' proces.id 'pdf' %}" target="_blank">Veure document</a>
        <hr/>
        <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_SEGUENT }}">Tancar la sessió d'avaluació</button>
    </div>
{% endblock %}