{% extends "alta_socies/autoocupat/template.html" %}

{% block explicacio_pas %}
    <div class="panel">
        <ul>
            <li>Les persones &laquo;membres de referència&raquo; ja es consideren sòcies afins. No les podreu afegir aquí.</li>
            <li>Busqueu a la base de dades, o afegiu, la resta de persones que necessiten cobertura legal de la CIC.</li>
            <li>És imprescindible que quedin ben identificades a efectes legals, i.e. amb, com a mínim, nom, cognoms i DNI.</li>
        </ul>
    </div>
{% endblock %}

{% block pas %}
    {% include "dynamic_includes/cerca_edicio_creacio_persona.html" %}

    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_AQUI }}">Desar</button>
    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_ANTERIOR }}">Desar i anar al pas anterior</button>
    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_SEGUENT }}">Desar i anar al següent pas</button>
{% endblock %}
