{% extends "alta_socies/autoocupat/template.html" %}
{% load gci_tags %}

{% block explicacio_pas %}
    <div class="panel">
        <ul>
            <li>Amb aquest pas el procés d'alta acaba i es crea un projecte autoocupat.</li>
            <li>Per poder completar aquest pas cal que doneu d'alta un compte COOP <b>per al projecte</b> a l'<a href="https://integralces.net" target="_blank">IntegralCES</a>.</li>
            <li>El projecte s'ha d'associar a una cooperativa. La norma general és aquesta:
                <ul>
                    <li>Projectes que fan alguna fira, a la &laquo;XIPU&raquo;</li>
                    <li>Tots els altres projectes (no fan cap fira) a &laquo;Interprofessionals&raquo;</li>
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}

{% block pas %}
    <fieldset>
        <legend>Compte de moneda social</legend>
        {% form_field form.compte_CES_assignat hide_label=True %}
    </fieldset>

    {% comment %}
    Sempre assignem el 18% d'IVA durant els primers mesos; despres es revisa però no tindra a veure amb el procés d'alta
    <div class="seccio">
        <b>IVA assignat</b><hr/>
        <div class="radio-container-simple"> {# TODO fuck the fucking CSS mess I am creating :( #}
        {{ form.iva_assignat }}{{ form.iva_assignat.errors }}
        </div>
    </div>

    <br/>

    No deixarem triar la cooperativa. La vista ho decideix.
    <div class="seccio">
        <b>Cooperativa assignada</b><hr/>
        <div class="radio-container-simple"> {# TODO fuck the fucking CSS mess I am creating :( #}
        {{ form.cooperativa_assignada }}{{ form.cooperativa_assignada.errors }}
        </div>
    </div>
    {% endcomment %}

    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_AQUI }}">Desar</button>
    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_ANTERIOR }}">Desar i anar al pas anterior</button>
    <button class="radius button" type="submit" name="anem_a" value="{{ ANEM_SEGUENT }}">Desar i anar al següent pas</button>
{% endblock %}
