{% extends "alta_socies/autoocupat/template.html" %}

{% block explicacio_pas %}
    <div class="panel">
        <ul>
            <li>Informem al soci que el procés està complet i que els membres de referència rebran un correu amb la informació per accedir al &laquo;portal del soci&raquo;, a on podran trobar tota la documentació.</li>
            {% comment %}
            <li>Aquí hi ha l'adreça del &laquo;portal del soci&raquo;.</li>
            <li>Hem de generar unes credencials:
                <ul>
                    <li>La contrasenya serà aleatòria; ells la podran canviar quan vulguin.</li>
                    <li>El &laquo;nom d'usuari&raquo; l'heu de triar plegats; idealment, quelcom que recordi clarament el nom del projecte.</li>
                </ul>
            </li>
            {% endcomment %}
        </ul>
    </div>
{% endblock %}

{% block pas %}
    <fieldset>
        <legend>Portal del soci</legend>
        <p>
            → Els membres de referència rebran un correu amb la informació per accedir al &laquo;portal del soci&raquo;, a on podran trobar tota la documentació, i mantenir al dia les seves dades etc. bla bla etc.
        </p>
    </fieldset>

    {% comment %}
    <div class="seccio">
        <b>Adreça</b><hr/>
        <pre>https://gestio.cooperativa.cat/socies/</pre>
    </div>

    <br/>

    <div class="seccio">
        <b>Credencials</b><hr/>
        nom d'usuari: XXX --------- el COOP9999<br/>
        contrasenya: XXX
    </div>

    <br/>

    <input type="hidden" name="anem_a" value="enlloc">
    <input type="submit" value="Desar i anar al següent pas" onclick="document.forms[0].children.anem_a.value='seguent';">
    {% endcomment %}
    <input class="radius button" type="submit" value="Validar el procés i crear el projecte">
{% endblock %}
