{% extends "simple.html" %}

{% block titol_a_capcalera %}Estadístiques sobre processos d'alta de projecte autoocupat{% endblock %}

{% block content %}

    <style>
    #llistat {
        border-collapse: collapse;
    }
    #llistat td,th {
        border: 1px solid black;
        padding: 3px;
    }
    #llistat th {
        background-color: #ddeedd;
    }
    </style>

<div class="group">

{#    <h1>Projectes <i>en curs</i>:</h1>#}

    <table id="llistat">
    <thead>
    <tr>
        <th class="xlabel" style="text-align:center">Pas</th>
        {% for item in recompte_per_pas %}
            <th class="xlabel" style="text-align:center">{{ item.pas }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    <tr>
        <th class="small-font" style="text-align:center">Recompte</th>
        {% for item in recompte_per_pas %}
            <td class="small-font" style="text-align:center">{% if item.recompte %}{{ item.recompte }}{% else %}&mdash;{% endif %}</td>
        {% endfor %}
    </tr>
    <tbody>
    </table>
</div>

{%  endblock %}