{% extends "simple.html" %}

{% block titol_a_capcalera %}Processos d'alta de projecte autoocupat{% endblock %}

{% block content %}
    <div class="group">
        <h2>Processos d'alta de projecte autoocupat</h2>

        {% if filtre_responsable %}

            {% if processos.count %}

                Veieu els {{ processos.count }} processos d'alta que tens <b>{{ estat_display }}</b>.
                <a href="{% url 'alta_socies:llistat_proces_alta_projecte_autoocupat-tots' estat %}">Veure'ls tots.</a>

            {% else %}

                No teniu processos d'alta <b>{{ estat_display }}</b>.
                <a href="{% url 'alta_socies:llistat_proces_alta_projecte_autoocupat-tots' estat %}">Veure els dels altres.</a>

            {% endif %}

        {% else %}

            {% if processos.count %}

                Veieu els {{ processos.count }} processos d'alta que hi ha <b>{{ estat_display }}</b>.
                <a href="{% url 'alta_socies:llistat_proces_alta_projecte_autoocupat' estat %}">Veure només els vostres.</a>

            {% else %}

                No hi ha processos d'alta en estat <b>{{ estat_display }}</b>.

            {% endif %}



        {% endif %}

        {% if processos.count %}

        <table>
            <thead>
                <th>Projecte</th>
                <th>F</th>
                <th>Responsable</th>
                <th>Estat</th>
                <th>Acollida</th>
                <th>Últim canvi</th>
                <th>Email projecte</th>
            </thead>
            <tbody>
                {% for p in processos %}
                    <tr>
                        <td>
                            {{ p.nom }}
                        </td>
                        <td>
                            {% if p.es_firaire %}
                                F
                            {% else %}
                                {% if p.es_inclus_lleugerament_firaire %}
                                    f
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            {{ p.responsable.first_name }} {{ p.responsable.last_name }}
                        </td>
                        <td>
                            {% if p.responsable == user %}
                            <a href="{% url 'alta_socies:proces_alta_projecte_autoocupat' p.id %}" class="secondary radius label" title="{{ p.get_nom_pas_actual }}">Pas {{ p.pas }}</a>
                            {% else %}
                            <a href="{% url 'alta_socies:resum_proces_alta_projecte_autoocupat' p.pk %}" class="info radius label" title="{{ p.get_nom_pas_actual }}">Pas {{ p.pas }}</a>
                            {% endif %}
                        </td>
                        <td>
                            {{ p.sessio_acollida.data|date:"d M" }}</td>
                        <td>
                            {{ p.updated_at|date:"d M H:m" }}</td>
                        <td>
                            <a href="mailto:{{ p.email }}">{{ p.email }}</a>
                        </td>
                        <td>
                            <a href="{% url 'alta_socies:rebutjar_proces' p.id %}" class="alert radius label" title="Rebutjar proces d'alta">Rebutjar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% endif %}

    </div>
{%  endblock %}
