{% extends "layout.html" %}

{% block titol_a_capcalera %}Procés d'alta de projecte autoocupat{% endblock %}

{% block content %}
    <div class="row">
        <div class="medium-12 columns content">
            <div class="row">
                <div class="medium-12 columns" style="text-align: center;">
                    <ul class="steps">
                        {% for p in breadcrumbs %}
                            <li>
                                <a  data-tooltip
                                    {% if p.n <= proces.pas_maxim_assolit and id_proces %}
                                        href="{% url "alta_socies:proces_alta_projecte_autoocupat" id_proces p.n %}"
                                    {% endif %}
                                    class="
                                        radius tip-bottom
                                        {% if p.n == pas %}
                                            current
                                        {% endif %}
                                        {% if p.n < proces.pas %}
                                            done
                                        {% elif p.n <= proces.pas_maxim_assolit %}
                                            to-review
                                        {% else %}
                                            disabled
                                        {% endif %}
                                        {# TODO: Separación entre sesiones hardcoded… ejem… #}
                                        {% if p.n == 2 or p.n == 10 or p.n == 11 %}
                                            divider
                                        {% endif %}
                                    "
                                    aria-haspopup="true"
                                    title="{{ p.nom }}"
                                >
                                    {{ p.n }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="medium-12 columns content">
            <div class="row">
                <div class="medium-12 columns">
                    <h1>{{ nom_pas }}</h1>
                    {% block explicacio_pas %}{% endblock %}
                    <form method="post"
                        {% if id_proces %}
                            action="{% url "alta_socies:proces_alta_projecte_autoocupat" id_proces pas %}"
                        {% else %}
                            action="{% url "alta_socies:proces_alta_projecte_autoocupat" %}"
                        {% endif %}
                    >
                        {% csrf_token %}
                        {% block pas %}{% endblock %}
                    </form>
                    {% block pas_formularis_addicionals %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{%  endblock %}
