{% extends "layout.html" %}
{% load gci_tags %}
{% block content %}
    <div class="row">
        <div class="medium-12 columns">
            <div class="groups-container" data-masonry>
                {% if user.is_authenticated %}
                    {% if user|is_responsable_alta %}
                    <section class="group">
                        <div class="content">
                            <h1><i class="fa fa-fw fa-users"></i> Altes de projecte autoocupat</h1>
                            <ul class="radius button-group even-2">
                                <li>
                                    <a href="{% url "alta_socies:proces_alta_projecte_autoocupat" %}" class="button">
                                        <i class="fa fa-fw fa-plus"></i> Nova alta
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url "alta_socies:llistat_proces_alta_projecte_autoocupat" 'en_curs' %}" class="button">
                                        <i class="fa fa-fw fa-tasks"></i> En curs
                                    </a>
                                </li>
                            </ul>
                            <ul class="radius button-group even-2">
                                <li>
                                    <a href="{%  url "alta_socies:llistat_proces_alta_projecte_autoocupat_revisio_descripcions" %}" class="button">
                                        <i class="fa fa-fw fa-check"></i> Control de qualitat
                                    </a>
                                </li>
                                <li>
                                    <a href="{%  url "alta_socies:estadistiques_proces_alta_projecte_autoocupat" %}" class="button">
                                        <i class="fa fa-fw fa-check"></i> Estadístiques
                                    </a>
                                </li>
                            </ul>
                            {% if user|is_exportador %}
                            <ul class="radius button-group even-1">
                                <li>
                                    <a href="{% url "alta_socies:exportar_a_csv" %}" class="button">
                                        <i class="fa fa-fw fa-level-down"></i> Exportar al «Transversal»
                                    </a>
                                </li>
                            </ul>
                            {% endif %}
                        </div>
                    </section>
                    <section class="group">
                        <div class="content">
                            <h1><i class="fa fa-fw fa-calendar"></i> Sessions</h1>
                            <ul class="radius button-group even-3">
                                <li>
                                    <a href="#" class="disabled info button">Acollida</a>
                                </li>
                                <li>
                                    <a href="{% url "alta_socies:crear_sessio_acollida" %}" class="button"><i class="fa fa-fw fa-plus"></i> Nova</a>
                                </li>
                                <li>
                                    <a href="{% url "alta_socies:llistat_sessio_acollida" %}" class="button"><i class="fa fa-fw fa-bars"></i> Llistat</a>
                                </li>
                            </ul>
                            <ul class="radius button-group even-3">
                                <li>
                                    <a href="#" class="disabled info button">Moneda social</a>
                                </li>
                                <li>
                                    <a href="{% url "alta_socies:crear_sessio_moneda" %}" class="button"><i class="fa fa-fw fa-plus"></i> Nova</a>
                                </li>
                                <li>
                                    <a href="{% url "alta_socies:llistat_sessio_moneda" %}" class="button"><i class="fa fa-fw fa-bars"></i> Llistat</a>
                                </li>
                            </ul>
                        </div>
                    </section>
                    {% endif %}
                {% endif %}
                {% if FLAG_GECO %}
                    {% if user.is_authenticated %}
                        {# TODO: show section only to socies AO #}
                        <section class="group green">
                            <div class="content">
                                <h1><i class="fa fa-fw fa-file-text-o"></i> Papeleos</h1>
                                <ul>
                                    <li><a href="#">Añadir factura</a></li>
                                    <li><a href="#">Añadir gasto</a></li>
                                    <li>…</li>
                                </ul>
                            </div>
                        </section>
                        {# TODO: show section only to GECO admins #}
                        <section class="group green">
                            <div class="content">
                                <h1><i class="fa fa-fw fa-money"></i> Gestió Económica</h1>
                                <p>…</p>
                            </div>
                        </section>
                    {% endif %}
                {% endif %}
                {% if FLAG_ALTA_SOCIES %}
                    {% if not user.is_authenticated %}
                        <section class="group">
                            <div class="content">
                                <h1><i class="fa fa-fw fa-pencil"></i> Fes-te soci@ de la CIC</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.</p>
                                <p>
                                    <a href="{% url 'alta_socies:cooperatiu' %}" class="radius button expand">Formulari de inscripció soci cooperatiu</a>
                                </p>
                                <hr/>
                                <h2>Quieres hacerte socio autoocupado?</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.</p>
                            </div>
                        </section>
                    {% endif %}
                {% endif %}
                {% if FLAG_FAQ %}
                    {% if not user.is_authenticated %}
                        <section class="group">
                            <div class="content">
                                <h1><i class="fa fa-fw fa-flag"></i> Bienvenido al portal del socio!</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.</p>
                            </div>
                        </section>
                    {% endif %}
                    <section class="group blue">
                        <div class="content">
                            <h1><i class="fa fa-fw fa-question-circle"></i> FAQs</h1>
                            <input type="text" placeholder="Buscar…">
                        </div>
                    </section>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
