{% extends "layout.html" %}
{% load gci_tags %}

{% block content %}
    <div class="row">
        <div class="medium-12 columns content">
            <h1>CSS Style Guide</h1>
            <p>Esta guia sirve como referencia y como lugar donde debugear el CSS.</p>

            <hr/>

            <h1>Typography (h1)</h1>

            <h2>Header (h2)</h2>
            <h3>Header (h3)</h3>
            <h4>Header (h4)</h4>

            <div class="panel">
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                    <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                </ul>
            </div>

            <p>Lorem ipsum <a href="#">dolor sit amet</a>, consectetur <strong>adipisicing elit</strong>, sed do eiusmod tempor incididunt ut labore et <em>dolore magna aliqua</em>. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

            <p>Duis aute irure dolor in <code>reprehenderit</code> in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <h2>Align</h2>

            <p class="text-center"><strong>(.text-center)</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

            <p class="text-right"><strong>(.text-right)</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

            <h2>Lists</h2>

            <ul>
                <li>lorem</li>
                <li>ipsum</li>
                <ul>
                    <li>consectetur</li>
                    <li>dolor</li>
                    <ul>
                        <li>reprehenderit</li>
                        <li>cupidatat</li>
                    </ul>
                    <li>sit</li>
                    <li>amet</li>
                </ul>
            </ul>

            <ol>
                <li>lorem</li>
                <li>ipsum</li>
                <ol>
                    <li>consectetur</li>
                    <li>dolor</li>
                    <ol>
                        <li>reprehenderit</li>
                        <li>cupidatat</li>
                    </ol>
                    <li>sit</li>
                    <li>amet</li>
                </ol>
            </ol>

            <h1>Icons <i class="fa fa-bolt"></i></h1>

            <p><a href="http://fortawesome.github.io/Font-Awesome/icons/">See FontAwesome Icons</a></p>
            <p>Use <code>&lt;i class="fa fa-fw fa-{icon-id}"&gt;&lt;/i&gt;</code>.</p>
            <h1>Grid</h1>

            <p><a href="http://foundation.zurb.com/docs/components/grid.html">See Foundation 5 documentation</a></p>

            <div class="row">
                <div class="medium-6 columns">
                    <p><strong>.medium-6.columns</strong></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="medium-6 columns">
                    <p><strong>.medium-6.columns</strong></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>

            <div class="row">
                <div class="medium-9 columns">
                    <p><strong>.medium-9.columns</strong></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                <div class="medium-3 columns">
                    <p><strong>.medium-3.columns</strong></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>

            <div class="row">
                <div class="medium-4 columns">
                    <p><strong>.medium-4.columns</strong></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="medium-4 columns">
                    <p><strong>.medium-4.columns</strong></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="medium-4 columns">
                    <p><strong>.medium-4.columns</strong></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>

            <h1>Buttons</h1>

            <p><strong>Sizes</strong></p>

            <a href="#" class="tiny radius button">.tiny.radius.button</a>
            <a href="#" class="small radius button">.small.radius.button</a>
            <a href="#" class="radius button">.radius.button</a>
            <a href="#" class="large radius button">.large.radius.button</a>

            <p><strong>Importance</strong></p>

            <a href="#" class="radius button">(default)</a>
            <a href="#" class="secondary radius button">.secondary</a>
            <a href="#" class="success radius button">.success</a>
            <a href="#" class="info radius button">.info</a>
            <a href="#" class="alert radius button">.alert</a>
            <a href="#" class="disabled radius button">.disabled</a>

            <p><strong>Button Group</strong></p>

            <ul class="radius button-group">
                <li><a href="#" class="button">Button 1</a></li>
                <li><a href="#" class="button">Button 2</a></li>
                <li><a href="#" class="button">Button 3</a></li>
            </ul>

            <p><strong>Button Group Wide</strong></p>

            <ul class="radius button-group even-2">
                <li><a href="#" class="button">Button 1</a></li>
                <li><a href="#" class="button">Button 2</a></li>
            </ul>

            <ul class="radius button-group even-3">
                <li><a href="#" class="button">Button 1</a></li>
                <li><a href="#" class="button">Button 2</a></li>
                <li><a href="#" class="button">Button 3</a></li>
            </ul>

            <ul class="radius button-group even-4">
                <li><a href="#" class="button">Button 1</a></li>
                <li><a href="#" class="button">Button 2</a></li>
                <li><a href="#" class="button">Button 3</a></li>
                <li><a href="#" class="button">Button 4</a></li>
            </ul>

            <p><strong>Button Bar</strong></p>

            <div class="button-bar">
                <ul class="radius button-group">
                    <li><a href="#" class="button">Button 1</a></li>
                </ul>
                <ul class="radius button-group">
                    <li><a href="#" class="button">Button 1</a></li>
                    <li><a href="#" class="button">Button 2</a></li>
                    <li><a href="#" class="button">Button 3</a></li>
                </ul>
                <ul class="radius button-group">
                    <li><a href="#" class="button">Button 1</a></li>
                    <li><a href="#" class="button">Button 2</a></li>
                    <li><a href="#" class="button">Button 3</a></li>
                </ul>
            </div>

            <h1>Tables</h1>

            <table>
                <thead>
                    <tr>
                        <th width="150">Table Header (150)</th>
                        <th>Table Header</th>
                        <th width="250">Table Header (250)</th>
                        <th width="150">Table Header (150)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2"><strong>Colspan 2</strong>. This is longer content Donec id elit non mi porta gravida at eget metus. This is longer content Donec id elit non mi porta gravida at eget metus. This is longer content Donec id elit non mi porta gravida at eget metus.</td>
                        <td>Content Goes Here</td>
                        <td>Content Goes Here</td>
                    </tr>
                    <tr>
                        <td>Content Goes Here</td>
                        <td colspan="2"><strong>Colspan 2</strong>. This is longer content Donec id elit non mi porta gravida at eget metus. This is longer content Donec id elit non mi porta gravida at eget metus. This is longer content Donec id elit non mi porta gravida at eget metus.</td>
                        <td>Content Goes Here</td>
                    </tr>
                    {% for i in "xxxxx" %}
                        <tr>
                            <td>Content Goes Here</td>
                            <td>This is longer content Donec id elit non mi porta.</td>
                            <td>Content Goes Here</td>
                            <td>Content Goes Here</td>
                        </tr>
                    {% endfor %}
                    <tr>
                            <td><strong>Align</strong></td>
                            <td class="text-left">(.text-left) bla bla bla bla bla.</td>
                            <td class="text-center">(.text-center) bla bla bla bla bla.</td>
                            <td class="text-right">(.text-right) bla bla bla bla bla.</td>
                        </tr>
                </tbody>
            </table>

            <h1>Forms</h1>

            <p>Render fields with <code>{{ '{% form_field form.field (hide_label=True|False) %}' }}</code> tag. Note that you must <code>{{ '{% load gci_tags %}' }}</code> in the template.</p>

            {% for name, form in forms.items %}
                <fieldset>
                    <legend>Fieldset {{ name }}</legend>

                    {% form_field form.name hide_label=True %}

                    <div class="row">
                        <div class="medium-4 columns">
                            {% form_field form.name %}
                        </div>
                        <div class="medium-4 columns">
                            {% form_field form.email %}
                        </div>
                        <div class="medium-4 columns">
                            {% form_field form.boolean %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="medium-3 columns">
                            {% form_field form.choices %}
                        </div>
                        <div class="medium-3 columns">
                            {% form_field form.radiuses %}
                        </div>
                        <div class="medium-3 columns">
                            {% form_field form.multiple %}
                        </div>
                        <div class="medium-3 columns">
                            {% form_field form.multicheck %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="medium-4 columns">
                            {% form_field form.date %}
                        </div>
                        <div class="medium-4 columns">
                            {% form_field form.time %}
                        </div>
                        <div class="medium-4 columns">
                            {% form_field form.datetime %}
                        </div>
                    </div>

                    {% form_field form.accept %}
                </fieldset>
            {% endfor %}

            <button class="radius button" type="submit">Send</button>
            <button class="radius button" type="submit">Next</button>
            <a href="#" class="small">o cancelar</a>
        </div>
    </div>
    <div class="row">
        <div class="medium-12 columns">
            <div class="groups-container" data-masonry>
                <section class="group">
                    <div class="content">
                        <h1><i class="fa fa-fw fa-flask"></i> Mr. Default</h1>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <ul>
                            <li>consectetur</li>
                            <li>dolor</li>
                            <li>sit</li>
                            <li>amet</li>
                        </ul>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                </section>

                <section class="group red">
                    <div class="content">
                        <h1>Mr. Red</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <ul class="small-block-grid-3">
                            <li><img src="http://placehold.it/140x100"/></li>
                            <li><img src="http://placehold.it/140x100"/></li>
                            <li><img src="http://placehold.it/140x100"/></li>
                        </ul>
                    </div>
                </section>

                <section class="group green">
                    <div class="content">
                        <h1>Mr. Green</h1>
                        <ul class="radius button-group even-3">
                            <li><a href="#" class="button">Button 1</a></li>
                            <li><a href="#" class="button">Button 2</a></li>
                            <li><a href="#" class="button">Button 3</a></li>
                        </ul>
                    </div>
                </section>

                <section class="group blue">
                    <div class="content">
                        <h1>Mr. Blue</h1>
                        <h2>Header</h2>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <input type="text">
                    </div>
                </section>

                <section class="group purple">
                    <div class="content">
                        <h1>Mr. Purple</h1>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                </section>

                <section class="group yellow">
                    <div class="content">
                        <h1>Mr. Yellow</h1>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                </section>

                <section class="group cyan">
                    <div class="content">
                        <h1>Mr. Cyan</h1>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="medium-12 columns text-center">
            <p><strong>TODO: Refactor CSS. .panel.login => .panel.content</strong></p>
        </div>
    </div>

    <div class="row">
        <div class="medium-6 large-4 columns medium-centered large-centered">
            <div class="panel login">
                <form>
                    <input type="text">
                    <input type="text">
                    <input type="submit" value="Submit" class="expand radius button"/>
                </form>
            </div>
        </div>
    </div>

    <hr/>

    <div class="row">
        <div class="medium-9 large-7 columns medium-centered large-centered">
            <div class="panel login">
                <form>
                    <h1>Hello!</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <input type="submit" value="Submit" class="expand radius button"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
