{% extends "simple.html" %}
{% load gci_tags %}

{#{% block titol_a_capcalera %}#}
{#{% endblock %}#}

{% block content %}

{# this should be above, inside titol_a_capcalera #}
<h1>Emissió d'una nova factura</h1>
{# end titol_a_capcalera #}

{% block explicacio_pas %}
    <div class="panel">
        <ul>
            {% if form %}
                <li>Trieu el client.</li>
                <li>Proveu a començar a escriure al camp de sota el NIF o el nom de l'empresa.</li>
                <li>Si no hi surt, l'haureu de <a>buscar o donar d'alta</a>.</li>
                <li>La data de la factura ha de correspondre al trimestre en curs, o a l'anterior si encara no està2015- tancat.</li>
            {% else %}
                <li>No teniu cap client a la vostra llista; L'haureu de <a>buscar o donar d'alta</a>.</li>
            {% endif %}
        </ul>
    </div>
{% endblock %}

{% if form %}
    <form method="POST">
        {% csrf_token %}
        {% form_field form.client %}
        {% form_field form.data %}
        <button class="radius button" type="submit">Crear factura</button>
    </form>
{% endif %}

{% endblock %}