{% extends "simple.html" %}
{% load gci_tags %}

{#{% block titol_a_capcalera %}#}
{#{% endblock %}#}

{% block content %}

{# this should be above, inside titol_a_capcalera #}
<h1>Edició de la factura emesa {{ factura.numero }}</h1>
{# end titol_a_capcalera #}

{% block explicacio_pas %}
    <div class="panel">
        <ul>
                <li>Introduïu les línies de la factura.</li>
        </ul>
    </div>
{% endblock %}

{% if form %}
    <form method="POST">
        {% csrf_token %}
{#        {% form_field form.client %}#}
{#        {% form_field form.data %}#}
        <button class="radius button" type="submit">Desar factura</button>
    </form>
{% endif %}

{% endblock %}