{% extends "simple.html" %}
{% load gci_tags %}

{% block titol_a_capcalera %}Taula de quotes trimestrals{% endblock %}

{% block content %}

    {% for taula in taules %}

        <h3>
            {% if taula.temps == 'futur' %}Aquesta taula entrarà en vigor a partir de{% endif %}
            {% if taula.temps == 'present' %}Aquesta taula està en vigor des de{% endif %}
            {% if taula.temps == 'passat' %} Aquesta taula ja està obsoleta però va entrar en vigor el{% endif %}

            {{ taula.data_vigor|format_data }} (inclòs):
        </h3>

        <table>
        <thead>
        <tr>
            <th>A partir d'aquesta base imposable total del trimestre</th>
            <th>Correspon aquesta quota trimestral</th>
        </tr>
        </thead>
        <tbody>
        {% for fila in taula.taula %}
            <tr>
                <td>{{ fila.base_imposable_minima }}</td>
                <td>{{ fila.import_quota_trimestral }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>

    {% endfor %}

{% endblock %}
